{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

<div class="header__info">
    <div class="header__in">
        <div class="header__info_row">
            {%- for block in section.blocks -%}
                <div class="header__info_text">{{ block.settings.text | escape }}</div>

                {% if block.settings.text_rating != blank %}
                    <div class="header__info_rating">
                        <div class="header__info_rating_icon">
                            <svg viewBox="0 0 128 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.48 3.49921C11.5223 3.39605 11.5943 3.30779 11.6869 3.24567C11.7795 3.18356 11.8885 3.15039 12 3.15039C12.1115 3.15039 12.2205 3.18356 12.3131 3.24567C12.4057 3.30779 12.4777 3.39605 12.52 3.49921L14.645 8.61021C14.6848 8.70585 14.7502 8.78866 14.834 8.84953C14.9178 8.9104 15.0167 8.94697 15.12 8.95521L20.638 9.39721C21.137 9.43721 21.339 10.0602 20.959 10.3852L16.755 13.9872C16.6765 14.0544 16.6179 14.1419 16.5858 14.2402C16.5537 14.3384 16.5493 14.4436 16.573 14.5442L17.858 19.9292C17.8838 20.0373 17.8771 20.1505 17.8385 20.2547C17.8 20.3589 17.7315 20.4494 17.6416 20.5146C17.5517 20.5799 17.4445 20.6171 17.3335 20.6214C17.2225 20.6258 17.1127 20.5972 17.018 20.5392L12.293 17.6542C12.2047 17.6004 12.1034 17.572 12 17.572C11.8966 17.572 11.7953 17.6004 11.707 17.6542L6.982 20.5402C6.88726 20.5982 6.77745 20.6268 6.66646 20.6224C6.55546 20.6181 6.44825 20.5809 6.35837 20.5156C6.26848 20.4504 6.19996 20.3599 6.16145 20.2557C6.12294 20.1515 6.11617 20.0383 6.142 19.9302L7.427 14.5442C7.45083 14.4436 7.44645 14.3384 7.41434 14.2401C7.38223 14.1418 7.32363 14.0543 7.245 13.9872L3.041 10.3852C2.95681 10.3128 2.89591 10.2172 2.86595 10.1102C2.83599 10.0033 2.83831 9.88996 2.87261 9.78436C2.90692 9.67876 2.97169 9.58567 3.05876 9.51678C3.14584 9.4479 3.25134 9.4063 3.362 9.39721L8.88 8.95521C8.98325 8.94697 9.08222 8.9104 9.16602 8.84953C9.24983 8.78866 9.31522 8.70585 9.355 8.61021L11.48 3.49921Z" fill="#FFF4A8" stroke="#FFF4A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M37.48 3.49921C37.5223 3.39605 37.5943 3.30779 37.6869 3.24567C37.7795 3.18356 37.8885 3.15039 38 3.15039C38.1115 3.15039 38.2205 3.18356 38.3131 3.24567C38.4057 3.30779 38.4777 3.39605 38.52 3.49921L40.645 8.61021C40.6848 8.70585 40.7502 8.78866 40.834 8.84953C40.9178 8.9104 41.0167 8.94697 41.12 8.95521L46.638 9.39721C47.137 9.43721 47.339 10.0602 46.959 10.3852L42.755 13.9872C42.6765 14.0544 42.6179 14.1419 42.5858 14.2402C42.5537 14.3384 42.5493 14.4436 42.573 14.5442L43.858 19.9292C43.8838 20.0373 43.8771 20.1505 43.8385 20.2547C43.8 20.3589 43.7315 20.4494 43.6416 20.5146C43.5517 20.5799 43.4445 20.6171 43.3335 20.6214C43.2225 20.6258 43.1127 20.5972 43.018 20.5392L38.293 17.6542C38.2047 17.6004 38.1034 17.572 38 17.572C37.8966 17.572 37.7953 17.6004 37.707 17.6542L32.982 20.5402C32.8873 20.5982 32.7775 20.6268 32.6665 20.6224C32.5555 20.6181 32.4482 20.5809 32.3584 20.5156C32.2685 20.4504 32.2 20.3599 32.1614 20.2557C32.1229 20.1515 32.1162 20.0383 32.142 19.9302L33.427 14.5442C33.4508 14.4436 33.4464 14.3384 33.4143 14.2401C33.3822 14.1418 33.3236 14.0543 33.245 13.9872L29.041 10.3852C28.9568 10.3128 28.8959 10.2172 28.8659 10.1102C28.836 10.0033 28.8383 9.88996 28.8726 9.78436C28.9069 9.67876 28.9717 9.58567 29.0588 9.51678C29.1458 9.4479 29.2513 9.4063 29.362 9.39721L34.88 8.95521C34.9832 8.94697 35.0822 8.9104 35.166 8.84953C35.2498 8.78866 35.3152 8.70585 35.355 8.61021L37.48 3.49921Z" fill="#FFF4A8" stroke="#FFF4A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M63.48 3.49921C63.5223 3.39605 63.5943 3.30779 63.6869 3.24567C63.7795 3.18356 63.8885 3.15039 64 3.15039C64.1115 3.15039 64.2205 3.18356 64.3131 3.24567C64.4057 3.30779 64.4777 3.39605 64.52 3.49921L66.645 8.61021C66.6848 8.70585 66.7502 8.78866 66.834 8.84953C66.9178 8.9104 67.0167 8.94697 67.12 8.95521L72.638 9.39721C73.137 9.43721 73.339 10.0602 72.959 10.3852L68.755 13.9872C68.6765 14.0544 68.6179 14.1419 68.5858 14.2402C68.5537 14.3384 68.5493 14.4436 68.573 14.5442L69.858 19.9292C69.8838 20.0373 69.8771 20.1505 69.8385 20.2547C69.8 20.3589 69.7315 20.4494 69.6416 20.5146C69.5517 20.5799 69.4445 20.6171 69.3335 20.6214C69.2225 20.6258 69.1127 20.5972 69.018 20.5392L64.293 17.6542C64.2047 17.6004 64.1034 17.572 64 17.572C63.8966 17.572 63.7953 17.6004 63.707 17.6542L58.982 20.5402C58.8873 20.5982 58.7775 20.6268 58.6665 20.6224C58.5555 20.6181 58.4482 20.5809 58.3584 20.5156C58.2685 20.4504 58.2 20.3599 58.1614 20.2557C58.1229 20.1515 58.1162 20.0383 58.142 19.9302L59.427 14.5442C59.4508 14.4436 59.4464 14.3384 59.4143 14.2401C59.3822 14.1418 59.3236 14.0543 59.245 13.9872L55.041 10.3852C54.9568 10.3128 54.8959 10.2172 54.8659 10.1102C54.836 10.0033 54.8383 9.88996 54.8726 9.78436C54.9069 9.67876 54.9717 9.58567 55.0588 9.51678C55.1458 9.4479 55.2513 9.4063 55.362 9.39721L60.88 8.95521C60.9832 8.94697 61.0822 8.9104 61.166 8.84953C61.2498 8.78866 61.3152 8.70585 61.355 8.61021L63.48 3.49921Z" fill="#FFF4A8" stroke="#FFF4A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M89.48 3.49921C89.5223 3.39605 89.5943 3.30779 89.6869 3.24567C89.7795 3.18356 89.8885 3.15039 90 3.15039C90.1115 3.15039 90.2205 3.18356 90.3131 3.24567C90.4057 3.30779 90.4777 3.39605 90.52 3.49921L92.645 8.61021C92.6848 8.70585 92.7502 8.78866 92.834 8.84953C92.9178 8.9104 93.0167 8.94697 93.12 8.95521L98.638 9.39721C99.137 9.43721 99.339 10.0602 98.959 10.3852L94.755 13.9872C94.6765 14.0544 94.6179 14.1419 94.5858 14.2402C94.5537 14.3384 94.5493 14.4436 94.573 14.5442L95.858 19.9292C95.8838 20.0373 95.8771 20.1505 95.8385 20.2547C95.8 20.3589 95.7315 20.4494 95.6416 20.5146C95.5517 20.5799 95.4445 20.6171 95.3335 20.6214C95.2225 20.6258 95.1127 20.5972 95.018 20.5392L90.293 17.6542C90.2047 17.6004 90.1034 17.572 90 17.572C89.8966 17.572 89.7953 17.6004 89.707 17.6542L84.982 20.5402C84.8873 20.5982 84.7775 20.6268 84.6665 20.6224C84.5555 20.6181 84.4482 20.5809 84.3584 20.5156C84.2685 20.4504 84.2 20.3599 84.1614 20.2557C84.1229 20.1515 84.1162 20.0383 84.142 19.9302L85.427 14.5442C85.4508 14.4436 85.4464 14.3384 85.4143 14.2401C85.3822 14.1418 85.3236 14.0543 85.245 13.9872L81.041 10.3852C80.9568 10.3128 80.8959 10.2172 80.8659 10.1102C80.836 10.0033 80.8383 9.88996 80.8726 9.78436C80.9069 9.67876 80.9717 9.58567 81.0588 9.51678C81.1458 9.4479 81.2513 9.4063 81.362 9.39721L86.88 8.95521C86.9832 8.94697 87.0822 8.9104 87.166 8.84953C87.2498 8.78866 87.3152 8.70585 87.355 8.61021L89.48 3.49921Z" fill="#FFF4A8" stroke="#FFF4A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M115.48 3.49921C115.522 3.39605 115.594 3.30779 115.687 3.24567C115.78 3.18356 115.888 3.15039 116 3.15039C116.111 3.15039 116.22 3.18356 116.313 3.24567C116.406 3.30779 116.478 3.39605 116.52 3.49921L118.645 8.61021C118.685 8.70585 118.75 8.78866 118.834 8.84953C118.918 8.9104 119.017 8.94697 119.12 8.95521L124.638 9.39721C125.137 9.43721 125.339 10.0602 124.959 10.3852L120.755 13.9872C120.676 14.0544 120.618 14.1419 120.586 14.2402C120.554 14.3384 120.549 14.4436 120.573 14.5442L121.858 19.9292C121.884 20.0373 121.877 20.1505 121.839 20.2547C121.8 20.3589 121.732 20.4494 121.642 20.5146C121.552 20.5799 121.445 20.6171 121.334 20.6214C121.223 20.6258 121.113 20.5972 121.018 20.5392L116.293 17.6542C116.205 17.6004 116.103 17.572 116 17.572C115.897 17.572 115.795 17.6004 115.707 17.6542L110.982 20.5402C110.887 20.5982 110.777 20.6268 110.666 20.6224C110.555 20.6181 110.448 20.5809 110.358 20.5156C110.268 20.4504 110.2 20.3599 110.161 20.2557C110.123 20.1515 110.116 20.0383 110.142 19.9302L111.427 14.5442C111.451 14.4436 111.446 14.3384 111.414 14.2401C111.382 14.1418 111.324 14.0543 111.245 13.9872L107.041 10.3852C106.957 10.3128 106.896 10.2172 106.866 10.1102C106.836 10.0033 106.838 9.88996 106.873 9.78436C106.907 9.67876 106.972 9.58567 107.059 9.51678C107.146 9.4479 107.251 9.4063 107.362 9.39721L112.88 8.95521C112.983 8.94697 113.082 8.9104 113.166 8.84953C113.25 8.78866 113.315 8.70585 113.355 8.61021L115.48 3.49921Z" fill="#FFF4A8" stroke="#FFF4A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="header__info_rating_text">{{ block.settings.text_rating | escape }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 1,
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__1.content",
      "info": "t:sections.announcement-bar.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__3.content",
      "info": "t:sections.announcement-bar.settings.header__3.info"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "text",
          "id": "text_rating",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
