.header__info {
    background-color: #2c2929
}

@media screen and (min-width: 768px) {
    .header__info {
        padding: 1.2rem 2rem;
        padding: 1.2rem var(--gl-indent)
    }
}

@media screen and (max-width: 767px) {
    .header__info {
        padding: 1rem 2rem;
        padding: 1rem var(--gl-indent)
    }
}

.header__info_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center
}

.header__info_rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center
}

@media screen and (min-width: 768px) {
    .header__info_rating {
        padding-right: .4rem
    }
}

@media screen and (max-width: 767px) {
    .header__info_rating {
        justify-content: flex-end
    }
}

@media screen and (min-width: 768px) {
    .header__info_rating_icon {
        width: 12.8rem;
        height: 2.4rem
    }
}

@media screen and (max-width: 767px) {
    .header__info_rating_icon {
        width: 8rem;
        height: 1.6rem;
        margin: .4rem 0
    }
}

@media screen and (min-width: 768px) {
    .header__info_rating_icon:not(:last-child) {
        margin-right: .8rem
    }
}

.header__info_rating_text {
    color: #fff
}

@media screen and (min-width: 768px) {
    .header__info_rating_text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1
    }
}

@media screen and (max-width: 767px) {
    .header__info_rating_text {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.33
    }
}

.header__info_text {
    color: #fff;
    padding-right: .7rem
}

@media screen and (min-width: 768px) {
    .header__info_text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1
    }
}

@media screen and (max-width: 767px) {
    .header__info_text {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.33
    }
}
